@font-face{
  font-family: Inter ;
  src: url("../Assets/Inter-Regular.ttf");
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.carousel-container {
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.review {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.review h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.review p {
  font-size: 1em;
  color: #555;
}

.review .rating {
  color: #ffa500;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
}

.carousel-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.elfsight-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 5px 0;
}

.contact{
  font-family: "Inter";
}
